---
---

@import  " {{site.theme}} " ;
a {
color: #a50163;
}

header li {
  background: #a50163;
  background: -moz-linear-gradient(top, #a50163 0%, #760147 100%);
  background: -webkit-linear-gradient(top, #a50163 0%, #760147 100%);
  background: -o-linear-gradient(top, #a50163 0%, #760147 100%);
  background: -ms-linear-gradient(top, #a50163 0%, #760147 100%);
  background: linear-gradient(to top, #a50163 0%, #760147 100%);
}
