---
---

@import  " {{site.theme}} " ;
a {
color: #a50163;
}

header li {
	background: #a50163;
	background: -moz-linear-gradient(top, #a50163 0%, #760147 100%);
  background: -webkit-linear-gradient(top, #a50163 0%, #760147 100%);
  background: -o-linear-gradient(top, #a50163 0%, #760147 100%);
  background: -ms-linear-gradient(top, #a50163 0%, #760147 100%);
  background: linear-gradient(to top, #a50163 0%, #760147 100%);

	-webkit-box-shadow-color: rgba(197,2,119, 1);
  box-shadow-color: rgba(197,2,119, 1);
}

header li:hover {
	background: #7C1954;
	background: -moz-linear-gradient(top, #7C1954 0%, #A0246E 100%);
  background: -webkit-linear-gradient(top, #7C1954 0%,#A0246E 100%);
  background: -o-linear-gradient(top, #7C1954 0%,#A0246E 100%);
  background: -ms-linear-gradient(top, #7C1954 0%,#A0246E 100%);
  background: linear-gradient(to top, #7C1954 0%,#A0246E 100%);
}
